.fonts {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}
.block {
    width: 900px;
    font-weight: 700;
    font-size: 20px;
}
.block1{
    font-size: 40px;
    text-align: center;
}
.overline {
    color: blueviolet;
    font-size: 30px;
    text-decoration-line: overline;
    text-decoration-style: wavy;
    line-height: 50px;
    word-spacing: 30px;
    text-shadow: 2px 2px currentColor;
}
.underline {
    font-size: 30px;
    text-decoration: underline;
    text-decoration-style: double;
    letter-spacing: 5px;
}